<p id="notice"><%= notice %></p>

<h1>Reservations</h1>

<table>
  <thead>
    <tr>
      <th>Confirmation number</th>
      <th>Class</th>
      <th>Number of seats</th>
      <th>UserID</th>
      <th>Flight Number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <%if current_user && current_user.admin %>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.confirmation_number %></td>
        <td><%= reservation.flight_class %></td>
        <td><%= reservation.number_of_seats %></td>
        <td><%= reservation.user_id %></td>
        <td><%= Flight.find_by_id(reservation.flight_id).flight_number %></td>
        <td><%= link_to 'Show', reservation %></td>
        <%# <td><%= link_to 'Edit', edit_reservation_path(reservation) %>
        <td><%= link_to 'Destroy', reservation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Give Feedback', new_feedback_path(:flight_id => reservation.flight_id, :user_id => 1) %></td>

      </tr>
    <% end %>
  <% else current_user %>
    <% @reservations.each do |reservation| %>
    <% if current_user.id == reservation.user_id %>
      <tr>
        <td><%= reservation.confirmation_number %></td>
        <td><%= reservation.flight_class %></td>
        <td><%= reservation.number_of_seats %></td>
        <td><%= reservation.user_id %></td>
        <td><%= Flight.find_by_id(reservation.flight_id).flight_number %></td>
        <td><%= link_to 'Show', reservation %></td>
        <%# <td><%= link_to 'Edit', edit_reservation_path(reservation) %>       
        <td><%= link_to 'Destroy', reservation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% if Flight.find_by_id(reservation.flight_id).departure_date < Date.today %>
        <td><%= link_to 'Give Feedback', new_feedback_path(:flight_id => reservation.flight_id, :user_id => reservation.user_id) %></td>
        <% end%>

      </tr>
    <%end %>
    <% end %>

  <%end %>

  </tbody>
</table>

<br>


