<p id="notice"><%= notice %></p>

<p>
  <strong>Confirmation number:</strong>
  <%= @reservation.confirmation_number %>
</p>

<p>
  <strong>Class:</strong>
  <%= @reservation.flight_class %>
</p>

<p>
  <strong>Number of seats:</strong>
  <%= @reservation.number_of_seats %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
