<%= form_with(model: feedback) do |form| %>
  <% if feedback.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(feedback.errors.count, "error") %> prohibited this feedback from being saved:</h2>

      <ul>
        <% feedback.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :feedback_response %>
    <%= form.text_field :feedback_response %>
  </div>

  <div>
    <%= form.hidden_field :user_id ,value:@usr_id%>
  </div>
  <div>
    <%= form.hidden_field :flight_id,value:@flight%>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
